* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'EB Garamond';
}

/*Background image */

html { 
  background: url(pics/background-mountain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}


.main{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}



.mid-container{
  max-width: 800px;
  margin: auto;
  color: white;
  
}

.mid-name{
  color: wheat;
  font-size: x-large;
}

#mid-text{
  color: wheat;
  font-size: x-large;
  text-align: center;
}

.mid-nav{
  border-width:1px 0;
  list-style:none;
  margin-top: 10%;
  padding:0;
  text-align:center;
}
.mid-menu{
  display:inline;
}
.mid-item{
  display:inline-block;
  padding:10px;


}

.button{
  color: wheat;
  text-decoration: none;
}

.mid-item:hover {
  transform: scale(1.1); 
}


/*Pop up*/
.overlay{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}


.overlay:target {
  visibility: visible;
  opacity: 1;
}


.pop-container {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);

  font-size: large;
  text-align: center;
  padding: 20px;

  /*Blurs background and makes popup dark*/
  background:rgba(0, 0, 0, 0.8);
  backdrop-filter:blur(10px) ;

  border-radius: 5px;
  color: white;
  width: 30%;
}


.pop-container .pop-close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}


.pop-container .pop-content {
  text-align: left;
  padding: 5%;
  overflow: auto;
}

.pop-pic{
  margin-top: 5%;
  width: 30%;
  height: auto;
  border-radius: 50%;
}

#pop-Contact .pop-container {
  width: 400px;
  height: 300px;
}


.resume-logo{
  width: 10%;
  height: 10%;
  text-align:center;
}

.row img{
  width: 40px;
  height: 40px;
  margin-right:25px;
}

.row {
  margin-bottom: 5%;
}

/*text Fades in*/
.fade-text {
  animation: fader 5s;
  -webkit-animation: fader 5s;
  -moz-animation: fader 5s;
  -o-animation: fader 5s;
  -ms-animation: fader 5s;
}

@keyframes fader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-moz-keyframes fader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes fader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes fader {
  0% { opacity: 0; }
  100% { opacity: 1; }
}






